[user]
    name = Anthony Myers
    email = arm3112@gmail.com

[alias]
    cob = checkout -b
    s = status
    f = fetch
    p = pull --rebase
    del = branch -D
    fp = "!f() { git f; git p; }; f"
